header {
    background-image: linear-gradient(rbga(0, 0, 0, 0.6), rbga(0, 0, 0, 0.6)), url(../Images/Background.JPG);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}