header {
    background-image: linear-gradient(rbga(0, 0, 0, 0.6), bga(0, 0, 0, 0.6)), url(background.JPG);
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}